<!DOCTYPE html>
<html lang="en">
<head>
  {% if page.title == 'EOX IT Services GmbH' %}
  <title>{{ page.title }}</title> 
  {% else %}
  <title>{{ page.title | append:' :: EOX IT Services GmbH' }}</title> 
  {% endif %}
  <style type="text/css" media="screen">
  /* <![CDATA[ */
    @import url("/css/eox.css");
    @import url("/css/zenburn.css");
  /* ]]> */
  </style>
</head>
  
<body id="eox-a-github-com">
  <div id="sidebar"><img src="/img/eox.png" alt="" title="EOX IT Services GmbH" /></div>
  <div id="main">
    
{{ content }}

  </div>
</body>
</html>